<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office</h3>

    <p>Princess Tower Dubai Marina, Dubai, United Arab Emirates</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "4322386131" %></p>

    <h3>Email</h3>

    <p><a href="mailto:shibazou3@gmail.com" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14453.553323117623!2d55.1466799!3d25.0887128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x993727742c84f489!2z44OX44Oq44Oz44K744K5IOOCv-ODr-ODvA!5e0!3m2!1sja!2sjp!4v1535295285457" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>