<div class="inner cover">
    <h1 class="cover-heading">My Portfolio Site</h1>
    <p class="lead">Hi! I'm Tsubasa Shibata. <br>
    I've made this site to practice web development and as my portfolio.<br>
    I hope you can be known about me in detail through this site.<br> Please have a look!</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>