<div class="inner cover">
    <h1 class="cover-heading">My Portfolio Site</h1>
    <p class="lead">Hi! I'm Tsubasa Shibata. Please have a look.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>